@model Web_Application_Part3.Models.claims


<link rel="stylesheet" href="~/css/nav.css" />
<link rel="stylesheet" href="~/css/claim.css" />

<nav>
    <ul>
        <li><a href="@Url.Action("Dashboard_L", "Home")">Dashboard</a></li>
        <li><a href="@Url.Action("Claims", "Home")">Submit Claim</a></li>
        <li><a href="@Url.Action("Profile_L", "Home")">Profile</a></li>
    </ul>
</nav>

<h2>Submit a Claim</h2>

<form asp-action="Claims" method="post" enctype="multipart/form-data">
    <label for="FacallyName">Faculty Name</label>
    <input type="text" id="FacallyName" name="FacallyName" required />

    <label for="ModuleName">Module</label>
    <input type="text" id="ModuleName" name="ModuleName" required />

    <label for="Hourworked">Hours Worked</label>
    <input type="number" id="Hourworked" name="Hourworked" required />

    <label for="Hourlyrate">Hourly Rate</label>
    <input type="number" id="Hourlyrate" name="Hourlyrate" required />


    <label for="TotalAmount">Total Amount</label>
    <input type="number" id="TotalAmount" name="TotalAmount" readonly />


    <label>Supporting Documents</label>
    <input type="file" name="SupportingDocuments" />

    <input type="submit" value="Submit Claim" />
</form>

@if (ViewBag.Message != null)
{
    <h2>
        <div class="alert">@ViewBag.Message</div>
        
    </h2>
  
}






<script>
    document.getElementById('Hourworked').addEventListener('input', calculateTotal);
    document.getElementById('Hourlyrate').addEventListener('input', calculateTotal);

    function calculateTotal() {
        let hours = parseFloat(document.getElementById('Hourworked').value) || 0;
        let rate = parseFloat(document.getElementById('Hourlyrate').value) || 0;

        document.getElementById('TotalAmount').value = hours * rate;
    }
</script>
